# Dependencies
node_modules/

# Build outputs
dist/
build/
*.tsbuildinfo

# Environment
.env
.env.*
!.env.example

# Logs & caches
*.log
.npm-cache/
.pnpm-store/
.turbo/

# Expo / React Native
.expo/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# OS / IDE
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Testing
coverage/
